<div class="container" id="logo">
  <%= image_tag("icon-pinterest.png", :alt => "logo", size: "55") %>
</div>
<div class="container" id="app-name">
  <h1>My City, My Design</h1>

  <div id="profile-login" class="container">
    <div id="profile">
      <%= image_tag("facebook-icon-circle.png", :alt => "profile-pic", size: "90") %>
    </div>

    <div id="login">
      
    </div>


  </div>

</div>


