/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/*html {
	width: 320px;
	height: 1136px;
}
*/
@media screen and (max-width: 480px) {
  /* line 8, /Users/kenny/Development/Projects/shareable_city/iDMC/app/assets/stylesheets/draw_icon.css.scss */
  body {
    margin: 0;
  }

  /* line 11, /Users/kenny/Development/Projects/shareable_city/iDMC/app/assets/stylesheets/draw_icon.css.scss */
  #box {
    width: 100px;
    height: 100px;
    background-color: red;
  }

  /* line 16, /Users/kenny/Development/Projects/shareable_city/iDMC/app/assets/stylesheets/draw_icon.css.scss */
  .draw-icon-container {
    width: 100%;
    height: 480px;
  }

  /* line 20, /Users/kenny/Development/Projects/shareable_city/iDMC/app/assets/stylesheets/draw_icon.css.scss */
  .draw-icon-canvas {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  /* line 25, /Users/kenny/Development/Projects/shareable_city/iDMC/app/assets/stylesheets/draw_icon.css.scss */
  .draw-icon-pick {
    width: 100%;
  }

  /* line 28, /Users/kenny/Development/Projects/shareable_city/iDMC/app/assets/stylesheets/draw_icon.css.scss */
  .draw-icon-frame {
    width: 50%;
    float: left;
  }
}
@media screen and (max-width: 480px) {
  /* line 6, /Users/kenny/Development/Projects/shareable_city/iDMC/app/assets/stylesheets/login_page.css.scss */
  body {
    background-image: url(/images/login-background.png);
    background-repear: no-repeat;
    background-size: 100%;
  }

  /* line 12, /Users/kenny/Development/Projects/shareable_city/iDMC/app/assets/stylesheets/login_page.css.scss */
  .container {
    text-align: center;
  }

  /* line 16, /Users/kenny/Development/Projects/shareable_city/iDMC/app/assets/stylesheets/login_page.css.scss */
  #app-name {
    color: white;
  }

  /* line 20, /Users/kenny/Development/Projects/shareable_city/iDMC/app/assets/stylesheets/login_page.css.scss */
  #login {
    background-color: #E8E8E8;
    border-radius: 10px;
  }
}
