<!DOCTYPE HTML>
<html>
<head>
</head>
<body onload="init()">
	<div class='draw-icon-container'>
		<div class='draw-icon-canvas'>
			<canvas id="canvas" width="600" height="600" style="border:solid black 1px;">
			  You really badly need to use a different browser.
			</canvas>
			<br>
			<!--button onclick="window.startup();">Initialize</button-->
			<!--console.log: <pre id="console.log" style="border: 1px solid #ccc;"></pre-->

		</div>
		<div class="draw-icon-pick">
			<div class="draw-icon-frame">Red</div>
			<div class="draw-icon-frame">Red</div>
		</div>
	</div>
</body>
</html>