<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale = 1.0">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
</head>
<body onload="init()">
	<div class='draw-icon-container'>
		<div class='draw-icon-canvas'>
			<canvas id="canvas" width="320" height="320">
			  You really badly need to use a different browser.
			</canvas>
			<br>
			<!--button onclick="window.startup();">Initialize</button-->
			<!--console.log: <pre id="console.log" style="border: 1px solid #ccc;"></pre-->

		</div>
		<div class="draw-icon-pick">
			<div class="draw-icon-frame">Red</div>
			<div class="draw-icon-frame">Red</div>
		</div>
	</div>
</body>
</html>