/*html {
	width: 320px;
	height: 1136px;
}
*/
@media screen and (max-width: 480px) {
#box {
    width:  100px;
    height: 100px;
    background-color: red;
}
.draw-icon-container {
	width: 100%;
	height: 480px;
}
.draw-icon-canvas {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.draw-icon-pick {
	width: 100%;
}
.draw-icon-frame {
	width: 50%;
	float: left;
}

}